@import 'ember-floating-labels/variables';

.floating-label {
    position: relative;

    textarea, input {
        padding-top: $floating-label-text-focus-padding-top;
        padding-bottom: $floating-label-text-focus-padding-bottom;
    }

    &.fl-has-focus-or-content {
        select {
            padding-top: $floating-label-select-focus-padding-top;
            padding-bottom: $floating-label-select-focus-padding-bottom;

            &.input-lg {
                padding-top: $floating-label-select-focus-padding-top - .5rem;
            }
        }

        .fl-placeholder-label {
            top: $floating-label-control-focus-top;
            margin-top: 0;
            opacity: 1;
            transform: perspective(1px) scale(.75);
        }
    }

    .fl-placeholder-label {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: $floating-label-control-label-size;
        margin-top: -$floating-label-control-label-size / 2;
        font-size: $floating-label-control-label-size;
        line-height: $floating-label-control-label-size;
        font-weight: normal;
        transition: $floating-label-control-label-transition;
        transform: translate3d(0, 0, 0) scale(1);
        transform-origin: left top 0;
        pointer-events: none;
        opacity: $floating-label-control-opacity;
    }

    &-textarea {
        .fl-placeholder-label {
            top: 1rem;
            margin-top: 0;
        }
    }

    .form-control::placeholder {
        opacity: 0;
        transition: $floating-label-placeholder-transition;
    }

    &.is-disabled .form-control::placeholder,
    .form-control:focus::placeholder {
        opacity: 1;
    }
}
