@import 'ember-floating-labels/variables';

.floating-label {
    position: relative;

    select {
        appearance: none;

        &.input-lg {
            padding-top: 0;
        }
    }

    &.fl-has-error {
        select,
        .form-control {
            border-color: $floating-label-border-error-color;
        }
        .fl-placeholder-label {
            color: $floating-label-text-error-color;
        }
    }

    .fl-placeholder-label {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: $floating-label-control-label-left;
        margin-top: -1 * calc($floating-label-control-label-size / 2);
        font-size: $floating-label-control-label-size;
        line-height: $floating-label-control-label-size;
        font-weight: normal;
        transition: $floating-label-control-label-transition;
        transform: translate3d(0, 0, 0) scale(1);
        transform-origin: left top 0;
        pointer-events: none;
        opacity: $floating-label-control-opacity;
    }

    &.fl-has-focus-or-content {
        .fl-placeholder-label {
            top: $floating-label-control-focus-top;
            margin-top: 0;
            padding: 0 4px;
            opacity: 1;
            background: $floating-label-control-focus-background;
            transform: perspective(1px) scale(.75);
            z-index: 5;
        }
    }

    &.fl-inset-placeholder {
        textarea, input {
            padding-top: $floating-label-text-padding-top;
            padding-bottom: $floating-label-text-padding-bottom;
        }

        select {
            padding-top: $floating-label-select-padding-top;
            padding-bottom: $floating-label-select-padding-bottom;

            &.input-lg {
                padding-top: $floating-label-select-padding-top - 0.5rem;
            }
        }

        &.fl-has-focus-or-content {
            .fl-placeholder-label {
                top: $floating-label-inset-control-focus-top;
                padding: 0;
                background: none;
                z-index: 1;
            }
        }
    }

    &-textarea {
        .fl-placeholder-label {
            top: $floating-label-control-textarea-top;
            margin-top: 0;
        }
    }

    &-select {
        &::after {
            content: " ";
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            top: 0;
            bottom: 0;
            right: 1rem;
            margin: auto;
            border-style: solid;
            border-width: $floating-label-select-arrow;
            border-color: $floating-label-select-arrow-color transparent transparent transparent;
            pointer-events: none;
        }
    }

    .form-control::placeholder {
        opacity: 0;
        transition: $floating-label-placeholder-transition;
    }

    &.is-disabled .form-control::placeholder,
    .form-control:focus::placeholder {
        opacity: 1;
    }
}
