@import 'ember-floating-labels/variables';

.floating-label {

    position: relative;
    textarea,
    input,
    select {
        padding: $floating-label-padding;
    }

    select {
        appearance: none;
    }

    &.fl-has-focus-or-content {
        input, textarea {
            padding-top: $floating-label-text-focus-padding-top;
            padding-bottom: $floating-label-text-focus-padding-bottom;
            //TODO should the addon define the input's font size?
            font-size: $floating-label-input-font-size;
        }

        select {
            padding-top: $floating-label-select-focus-padding-top;
            padding-bottom: $floating-label-select-focus-padding-bottom;
            //TODO should the addon define the input's font size?
            font-size: $floating-label-input-font-size;

            &.input-lg {
                padding-top: $floating-label-select-focus-padding-top - .5rem;
            }
        }

        .fl-placeholder-label {
            top: $floating-label-control-focus-top;
            margin-top: 0;
            opacity: 1;
            transform: perspective(1px) scale(.75);
        }
    }

    .fl-placeholder-label {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: $floating-label-control-label-size;
        margin-top: -$floating-label-control-label-size / 2;
        font-size: $floating-label-control-label-size;
        line-height: $floating-label-control-label-size;
        font-weight: normal;
        transition: $floating-label-control-label-transition;
        transform: translate3d(0, 0, 0) scale(1);
        transform-origin: left top 0;
        pointer-events: none;
        opacity: $floating-label-control-opacity;
    }

    .form-control::placeholder {
        opacity: 0;
        transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

    &.is-disabled .form-control::placeholder,
    .form-control:focus::placeholder {
        opacity: 1;
    }

    //TODO why do we need  this? cant use native <select> styling?
    &-select:after {
        content: " ";
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        top: 0;
        bottom: 0;
        right: 1rem;
        margin: auto;
        border-style: solid;
        border-width: $floating-label-select-arrow;
        border-color: $floating-label-select-arrow-color transparent transparent transparent;
        pointer-events: none;
    }

    &-textarea .control-label {
        top: 1rem;
        margin-top: 0;
    }
}
