// $floating-label-input-font-size: 0.9em !default;
$floating-label-padding: 0.5rem 1rem !default;

$floating-label-text-focus-padding-top: 1.2rem !default;
$floating-label-text-focus-padding-bottom: .1rem !default;
$floating-label-select-focus-padding-top: 1rem !default;
$floating-label-select-focus-padding-bottom: 0 !default;

$floating-label-control-opacity: 0.6 !default;
$floating-label-control-focus-top: 0.4rem !default;
$floating-label-control-label-size: 1rem !default;
$floating-label-control-label-transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms !default;
$floating-label-placeholder-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !default;
