.floating-label {
    position: relative;
}

.floating-label input {
    padding: 0.94em 12px;
}

.floating-label.has-focus .control-label,
.floating-label.has-content .control-label {
    top: 5px;
    margin-top: 0;
    opacity: 1;
    transform: scale(.75);
    -moz-transform: scale(.75);
    -webkit-transform: perspective(1px) scale(.75);
}

.floating-label.has-focus input,
.floating-label.has-content input {
    padding-top: 1.5em;
    padding-bottom: 0.38em;
}

.floating-label .control-label {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 14px;
    margin-top: -7px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    -webkit-transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
    transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    pointer-events: none;
    opacity: 0.6;
}

/* Webkit */
.floating-label .form-control::-webkit-input-placeholder {
  opacity: 0;
}

/* Firefox */
.floating-label .form-control::-moz-placeholder {
  opacity: 0;
}

/* IE */
.floating-label .form-control:-ms-input-placeholder {
  opacity: 0;
}
