<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <img src="https://www.gavant.com/wp-content/uploads/2018/04/logo.png" alt="">
        <span>ember-floating-labels</span>
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to 'text' tagName="li"}}
          {{link-to 'Text' 'text'}}
        {{/link-to}}
        {{#link-to 'select' tagName="li"}}
          {{link-to 'Select' 'select'}}
        {{/link-to}}
        {{#link-to 'textarea' tagName="li"}}
          {{link-to 'Text Area' 'textarea'}}
        {{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/Gavant/ember-floating-labels"><i class="fab fa-github fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    {{outlet}}
</div>