<div class="row">
    <div class="col-md-6 col-md-push-3">
        <h2>Textarea</h2>
        <div class="form-group">
            <FlTextarea
                @value={{this.textareaInlineValue}}
                @placeholder="Textarea Example"
                rows={{10}}
            />
        </div>
    </div>
</div>