<div class="row">
    <div class="col-md-6 col-md-push-3">
        <h1>Floating Label - Textarea</h1>
        <div class="form-group">
            {{fl-textarea value=textareaInlineValue placeholder="Textarea Example" textClass="form-control" rows=10}}
        </div>
    </div>
</div>